In [ ]:
# 1. What are data structures, and why are they important?
# answer= Data structures are ways of organizing and storing data in a computer so that they can be used efficiently.
# They define the relationship between the data and the operations that can be performed on the data.
# In Python, data structures are crucial for efficient problem-solving and algorithm design.

In [ ]:
#2.  Explain the difference between mutable and immutable data types with examples
# answer = mutable data types allow their values to be modified after creation,
# while immutable data types cannot be changed once created. If you try to change an immutable object,
#you'll typically get a new object with the modified value, rather than modifying the original.
## example = Mutable Data Types:
#Lists: Lists are ordered collections of items that can be changed. You can add, remove, or modify elements after the list is created.
#Dictionaries: Dictionaries store data in key-value pairs, and their contents can be changed.
#Sets: Sets are unordered collections of unique items. Elements can be added or removed after the set is created, according to Dataquest.
## Immutable Data Types:
# Strings: Strings are sequences of characters and cannot be modified after creation, as mentioned by Google for Developers. If you try to change a string, you'll get a new string with the modification.
#Tuples: Tuples are ordered collections of items, but unlike lists, they cannot be modified after creation.

In [ ]:
# 3. What are the main differences between lists and tuples in Python?
#answer = Lists are mutable:
#After creation, elements within a list can be modified, added, or removed. This dynamic nature makes lists suitable for scenarios where data manipulation is frequent.
#Tuples are immutable:
#Once a tuple is created, its contents are fixed and cannot be altered. This immutability ensures data integrity and makes tuples ideal for representing fixed collections of data.

In [ ]:
# 4.Describe how dictionaries store data.
#answer = Dictionaries are unordered collections of data and are represented with curly brackets { } .
# Like lists, dictionaries are mutable(changeable) and indexed. With dictionaries, data is stored in a key:value format.
# In this example, myCar is the variable that we have assigned our dictionary to.

In [ ]:
# 5.Why might you use a set instead of a list in Python?
#answer Lists are suitable for ordered collections that allow duplicates, while Sets are suitable for unordered collections of unique elements.
# By understanding the differences between them, you can choose the appropriate interface for your specific use case.

In [ ]:
# 6.What is a string in Python, and how is it different from a list?
#answer 1 - Strings in Python are sequences of characters enclosed in quotes ('' or “”). Lists are ordered collections of items enclosed in square brackets [].

# 2) Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.

In [ ]:
# 7.How do tuples ensure data integrity in Python.
#answer Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This characteristic is crucial for maintaining the consistency and reliability of data, especially in scenarios where data should remain constant throughout its lifecycle.
#Immutability prevents accidental or unintended changes to the data stored in a tuple. This is beneficial in situations where data needs to be protected from modification, such as storing fixed settings, representing records in a database, or using tuples as keys in dictionaries. The immutability of tuples guarantees that the data remains unchanged, ensuring data integrity.

In [ ]:
# 8. What is a hash table, and how does it relate to dictionaries in Python?
#answer the Dictionary data types represent the implementation of hash tables.
#The Keys in the dictionary are hashable–they are generated by a hash function which generates a unique result for each unique value supplied to the hash function.

In [ ]:
# 9.Can lists contain different data types in Python?
#answer = Yes, lists in Python can contain elements of different data types. Python lists are versatile and allow for the storage of a mix of data types within the same list, such as integers, strings, floats, booleans, and even other lists or dictionaries.

In [ ]:
#10. Explain why strings are immutable in Python.
#answer = Strings are immutable in Python for reasons related to efficiency, safety, and design principles. Once a string is created, its value cannot be changed. Any operation that appears to modify a string actually creates a new string object.

In [ ]:
# 11.What advantages do dictionaries offer over lists for certain tasks?
#answer = ictionaries are highly important in Python due to their fast access time and flexibility. They allow for quick data retrieval based on keys, which can significantly speed up the performance of a program, especially when dealing with large datasets

In [ ]:
# 12.Describe a scenario where using a tuple would be preferable over a list.
#answer = Use a list if you need a mutable collection of items where you may need to add, remove, or change elements. Lists are more flexible and have more built-in methods, making them ideal for dynamic collections.
# Use a tuple if you need an immutable collection where the elements won't change after creation.

In [ ]:
#13. How do sets handle duplicate values in Python?
# answer =n Python, sets are designed to store only unique elements. When attempting to add a duplicate value to a set, it is automatically discarded, ensuring that the set maintains its uniqueness property. This behavior is fundamental to the nature of sets as unordered collections of distinct elements.

In [ ]:
# 14. How does the “in” keyword work differently for lists and dictionaries?
# answer = the in operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.

In [ ]:
#15.Can you modify the elements of a tuple? Explain why or why not
# answer =No, you cannot directly modify the elements of a tuple in Python after it's been created. Tuples are immutable, meaning their contents cannot be changed once they are defined. Trying to modify a tuple will result in a TypeError.

In [ ]:
# 16.What is a nested dictionary, and give an example of its use case?
#answer =A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows for the creation of a hierarchical structure where data can be organized into multiple levels. A common use case for nested dictionaries is representing complex, multi-layered data, such as employee information with nested address and contact details.

In [ ]:
# 17. Describe the time complexity of accessing elements in a dictionary?
#answer= Accessing an element in a dictionary using its key typically has a time complexity of O(1) on average, meaning it takes constant time, regardless of the dictionary's size. However, in the worst-case scenario, it can degrade to O(n), where n is the number of key-value pairs, if there are many hash collisions.

In [ ]:
#18. In what situations are lists preferred over dictionaries?
#answer = For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

In [ ]:
# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
#answer Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order, as simple as that.24 Oct 2018

In [ ]:
# 20. Explain the difference between a list and a dictionary in terms of data retrieval.
#answer = n terms of data retrieval, a dictionary offers significantly faster lookup of values based on unique keys compared to a list, which relies on numerical indices. Dictionaries, using a hash table, can find values associated with a key in an average of O(1) (constant) time, while lists, requiring sequential searching, have an average time complexity of O(n) (linear).

practical

1.Write a code to create a string with your name and print it.

In [ ]:
a="namita"

In [ ]:
print(a)

namita

2.Write a code to find the length of the string "Hello World".

In [ ]:
s="hello world"

In [ ]:
len(s)

11

3.Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
slicing="Python Programming"

In [ ]:
slicing

'Python Programming'

In [ ]:
slicing[0:3]

'Pyt'

4.Write a code to convert the string "hello" to uppercase.

In [ ]:
text="hello"

In [ ]:
text

'hello'

In [ ]:
text.upper()

'HELLO'

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
  fruits = "i like orange"

In [ ]:
fruits

'i like orange'

In [ ]:
fruits.replace("orange","apple")

'i like apple'

6.Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
lis=[1,2,3,4,5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
l =[1,2,3,4]

In [ ]:
l.append (10)

In [ ]:
l

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
a = [1,2,3,4,5]

In [ ]:
a

[1, 2, 3, 4, 5]

In [ ]:
a.remove (3)

In [ ]:
a

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
alpha =["a","b","c","d"]

In [ ]:
alpha

['a', 'b', 'c', 'd']

In [ ]:
alpha[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
lis = [10,20,30,40,50]

In [ ]:
lis

[10, 20, 30, 40, 50]

In [ ]:
lis.reverse()

In [ ]:
lis

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tup = (100,200,300)

In [ ]:
print(tup)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
T = ("red","green","blue","yellow")

In [ ]:
T

('red', 'green', 'blue', 'yellow')

In [ ]:
T [2 :]

('blue', 'yellow')

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
range = (10,20,5,15)

In [ ]:
range

(10, 20, 5, 15)

In [ ]:
min(range)

5

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [2]:
tuple1= ("dog","cat","rabbit")

In [3]:
tuple1

('dog', 'cat', 'rabbit')

In [8]:
tuple1.index("cat")

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [9]:
fruits = ("apple","banana","kiwi")

In [10]:
"kiwi" in fruits

True

 16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
set1 = {"a","b","c"}

In [18]:
print(set1)

{'b', 'c', 'a'}

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [19]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [20]:
set2 = {1,2,3,4}

In [22]:
set2.remove(4)

In [23]:
set2

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [26]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_result = set1.union(set2)
print(union_result)

{1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [28]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set =set1. intersection( set2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [29]:
dict1 = {"name":"namita","age": 22 , "city":"delhi"}

In [30]:
print(dict1)

{'name': 'namita', 'age': 22, 'city': 'delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [33]:
dict2 = {"name" : "John", "age" : 25, "country": "USA" }

In [34]:
dict2

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [35]:
person = {'name': 'Alice', 'age': 30}

In [37]:
name = person['name']

In [38]:
print(name)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [39]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [40]:
del person['age']

In [41]:
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [42]:
person = {"name": "Alice", "city": "Paris"}

In [43]:
"city" in person

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [44]:
list1 = [1,2,3,4, (1,2,34,4), {"name": "namita"}]

In [45]:
list1

[1, 2, 3, 4, (1, 2, 34, 4), {'name': 'namita'}]

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [46]:
list2 =[70,64,80,87,90]

In [47]:
list2.sort()

In [48]:
list2

[64, 70, 80, 87, 90]

28. Write a code to create a list with strings and print the element at the third index.

In [49]:
fruits = ['Apple', 'Banana', 'Cherry', 'Date', 'Elderberry']

In [50]:
print(fruits[2])

Cherry

29. Write a code to combine two dictionaries into one and print the result.

In [51]:
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}

In [52]:
combined_dict = {**dict1, **dict2}

In [53]:
print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

30. Write a code to convert a list of strings into a set.

In [54]:
string_list = ['apple', 'banana', 'apple', 'orange', 'banana']

string_set = set(string_list)
print(string_set)

{'apple', 'orange', 'banana'}